* {
  box-sizing: border-box;
  font-weight: 700;
}

/*Navbar*/
/* Small screens */
@media only screen and (max-width: 800px) {
  nav ul {
    font-family: 'Rock Salt', cursive;
      color: white;
      margin: 0;
      padding: 0 2vw;
      list-style-type: none;
  }
  
  nav a {
      display: block;
      padding: .8rem;
      font-weight: 700;
      font-family: 'Rock Salt', cursive;
      color: white;
      text-decoration: none;
      text-align: center;
      border-bottom: solid 1px rgb(233, 230, 230);
      background-image: linear-gradient(315deg, #f9c5d1 0%, #9795ef 74%);
  }

  nav .active a {
      background-image:#d16ba5;
      color: white;
  }
  } 
  /*end of the media query*/
  
  /* BIG screens*/
  @media only screen and (min-width: 801px) {
      #navbar {
          display: flex;
          justify-content: center;
          width: 100%;
          height: 100%;
          font-family: 'Rock Salt', cursive;
          font-weight: 700;
          background-image: linear-gradient(315deg, #f9c5d1 0%, #9795ef 74%);
      }
      
      nav ul {
          list-style-type: none;
          padding: 0 2vw;
          margin: 0;
          display: flex;
          
      }
      
      nav a {
      font-size: 1.1rem;
      text-decoration: none;
      color: #ffffff;
      text-shadow: 4px 4px 4px #f1a7f1;
      display: block;
      padding: 0.83rem 2rem ;
      }
      
      nav li.active a {
          background-color: #8b89f5;
      }
      
      nav a:hover {
          background-color:#f1a7f1;
      }
  } 

h1 {
    font-size:xx-large;
    font-family: 'Rock Salt', cursive;
    background-color: #fad0c4;
background-image: linear-gradient(315deg, #fad0c4 0%, #f1a7f1 74%);
    font-weight: bolder;
    color: ivory;
    display: flex;
    margin: 0%;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden
    transition: .5s;
    letter-spacing: 3px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

figure { 
  background-image: linear-gradient(315deg, #f9c5d1 0%, #9795ef 74%);
  }
  
  img {
    border: 8px solid rgba(175, 238, 238, 0.692);
  }

  figcaption {
    color: #fff;
    text-align: center;
    font-family: 'Rock Salt', cursive;
    font-weight: bold;
    font-size: larger;
  }

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    color: #fff;
}


#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: 2rem;
}

#contact div#project, #contact div#touch {
  padding-bottom: 2rem;
  color: #f0f0f0;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 4px 4px 4px pink;
  font-weight: bolder;
}

#contact div#profiles {
display: flex;
justify-content: center;
color: #f0f0f0;
text-shadow: 4px 4px 4px pink;
padding-bottom: 2em;
}

#contact div#profiles a {
text-decoration: none;    
padding: 2rem;
color: #f0f0f0;
text-shadow: 4px 4px 4px pink;
transition: transform 0.3s linear;
}

#contact div#profiles a:hover {
  transform: translateY(8px);

}

footer {
  display: block;
  background-image: linear-gradient(315deg, #f9c5d1 0%, #9795ef 74%);
   text-align: center;
   padding: 2rem;
   padding-top: 5rem;
   font-size: x-large;
   color: #f0f0f0;
   text-shadow: 4px 4px 4px pink;
   font-family: 'Montserrat', sans-serif;
}
/* Start of cursor */
* {cursor: url(https://cur.cursors-4u.net/mechanics/mec-2/mec156.cur), auto !important;} 
/* End of cursor */
