h1 {
    color: hotpink;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    align-content: center;
}

h2 {
    color: plum;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    align-content: flex-start;
}