* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fuzzy Bubbles', cursive;
    font-weight: 700;
}

/*Nav*/
/* Small screens */
@media only screen and (max-width: 800px) {
  nav ul {
    font-family: 'Fuzzy Bubbles', cursive;
      color: white;
      margin: 0;
      padding: 0 2vw;
      list-style-type: none;
  }
  
  nav a {
      display: block;
      padding: .8rem;
      font-weight: 700;
      font-family: 'Fuzzy Bubbles', cursive;
      color: white;
      text-decoration: none;
      text-align: center;
      border-bottom: solid 1px rgb(233, 230, 230);
      background-image: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  }

  nav .active a {
      background-image:#d16ba5;
      color: white;
  }
  } 

  /*Search*/
  .search-input-wrapper {
    width: 100%;
    height: 5rem;
    background-image: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  
  .search-input-wrapper.change {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s 1s;
  }
  
  .search-input {
    width: 30rem;
    display: flex;
    align-items: flex-end;
  }
  
  .search-input input {
    width: 27rem;
    background-color: transparent;
    border: none;
    border-bottom: 0.1rem solid #fff;
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
    outline: none;
    color: #fff;
    margin-right: 1rem;
  }
  
  .search-input i {
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
  }
  
  .search-icon {
    font-size: 1.5rem;
    position:absolute;
    top: 4rem;
    animation: searchIconAnim2 0.5s forwards;
  }
  
  .search-icon.change {
    animation: searchIconAnim 1s forwards;
  }
  
  .search-icon i {
    color: #ba83ca;
    cursor: pointer;
  }
  
  @keyframes searchIconAnim {
    0% {
      top: 1.7rem;
    }
  
    40% {
      top: 40%;
      font-size: 25rem;
    }
  
    60% {
      top: 40%;
      right: calc(50% + 16rem);
    }
  
    100% {
      top: 1.7rem;
      right: calc(50% + 16rem);
    }
  }
  
  @keyframes searchIconAnim2 {
    0% {
      right: calc(50% + 16rem);
    }
  
    100% {
      right: 3rem;
    }
  }

  /*end of the media query*/
  
  /* BIG screens*/
  @media only screen and (min-width: 801px) {
      #navbar {
          display: flex;
          justify-content: center;
          width: 100%;
          font-family: 'Fuzzy Bubbles', cursive;
          font-weight: 700;
          background-image: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
      }
      
      nav ul {
          list-style-type: none;
          padding: 0 2vw;
          margin: 0;
          display: flex;
          
      }
      
      nav a {
      font-size: 1.1rem;
      text-decoration: none;
      color: #ffffff;
      text-shadow: 4px 4px 4px #c777b9;
      display: block;
      padding: 0.83rem 2rem ;
      }
      
      nav li.active a {
          background-color: #8aa7ec;
      }
      
      nav a:hover {
          background-color:#c777b9;
      }
  } 
  
header div {
  display:flex;
  justify-content: center;
  width: 100%;
}
  h1 {
    background: -webkit-linear-gradient(#8aa7ec, #c777b9, #52cffe);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; 
display: flex; 
justify-content: center;
font-size: 80px;
padding: 10px 0px;
}

#pikachu {
  width: 100px;
  height: 100px;
  margin: 10px 0px;
}

/*Buttons*/
button, #typeSelector {
  color: #8aa7ec;
  font-weight:bolder;
  border: 2px solid #c777b9;
  border-radius: 0px;
  padding: 10px 36px;
  margin: 20px 10px;
  display: wrap;
  justify-content: space-between;
  text-align: center;
  font-family: 'Fuzzy Bubbles', cursive;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #c777b9;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.loadPokemon:hover {
  box-shadow: inset 0 100px 0 0 #c777b9;
}

.newPokemon:hover {
  box-shadow: inset 400px 0 0 0 #c777b9;
}

.morePokemon:hover {
  box-shadow: inset 0 0 0 50px #c777b9;
}

.typeSelector:hover {
  box-shadow: inset 0 100px 0 0 #c777b9;
}


#outer {
  width: 364px;
  margin: 50px auto 0 auto;
  text-align: center;
}


.pokeGrid {
    display: flex;
    flex-wrap: wrap;
    min-height: 500px;
  }

  figcaption {
text-align: center;
text-transform: capitalize;
font-size: 130%;
line-height: 3em;
  } 

  label.textContents {
text-align: center;
  }

.scene {
  width: 200px;
  height: 260px;
  margin: .5em;
  perspective: 600px;
}

.card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
  }



.cardFace {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.cardFace h4 {
  text-align: center;
  padding-top: 10px;
  font-size: larger;
}

.cardFace ul li {
  color: white;
  margin-left: 25px;
}

.card.is-flipped {
    transform: rotateY(180deg);
  }

.back h4, .back h5 {
  text-align:center;
  color:white;
}

.front {
    background-color: rgb(241, 204, 210);
}

.back {
  background-image: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    transform: rotateY(180deg);
}

figure img {
    width: 200px;
  }

  /*Contact*/
#contact {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    font-size: 2rem;
}
  
#contact h2, #contact h4, #contact h5 {
    padding-bottom: 2rem;
    color: #f0f0f0;
    font-family: 'Fuzzy Bubbles', cursive;
    text-shadow: 4px 4px 4px #c777b9;
}

#contact div {
display: flex;
justify-content: center;
color: #f0f0f0;
text-shadow: 4px 4px 4px#c777b9;
}

#contact div a {
padding: 2rem;
color: #f0f0f0;
text-shadow: 4px 4px 4px #c777b9;
transition: transform 0.3s linear;
}

#contact div a:hover {
    transform: translateY(8px);

}

 * {cursor: url(https://cur.cursors-4u.net/games/gam-13/gam1282.cur), auto !important;} 