* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fuzzy Bubbles', cursive;
    font-weight: 700;
}

/*Nav*/
/* Small screens */
@media only screen and (max-width: 800px) {
  nav ul {
    font-family: 'Fuzzy Bubbles', cursive;
      color: white;
      margin: 0;
      padding: 0 2vw;
      list-style-type: none;
  }
  
  nav a {
      display: block;
      padding: .8rem;
      font-weight: 700;
      font-family: 'Fuzzy Bubbles', cursive;
      color: white;
      text-decoration: none;
      text-align: center;
      border-bottom: solid 1px rgb(233, 230, 230);
      background-image: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  }

  nav .active a {
      background-image:#d16ba5;
      color: white;
  }
  } 
  /*end of the media query*/
  
  /* BIG screens*/
  @media only screen and (min-width: 801px) {
      #navbar {
          display: flex;
          justify-content: center;
          width: 100%;
          font-family: 'Fuzzy Bubbles', cursive;
          font-weight: 700;
          background-image: linear-gradient(to right bottom, #845EC2, #D65DB1, #FF6F91, #FF9671, #FFC75F, #F9F871);
      }
      
      nav ul {
          list-style-type: none;
          padding: 0 2vw;
          margin: 0;
          display: flex;
          
      }
      
      nav a {
      font-size: 1.1rem;
      text-decoration: none;
      color: #ffffff;
      text-shadow: 4px 4px 4px #c777b9;
      display: block;
      padding: 0.83rem 2rem ;
      }
      
      nav li.active a {
          background-color: #8aa7ec;
      }
      
      nav a:hover {
          background-color:#c777b9;
      }
  } 
  
header div {
  display:flex;
  justify-content: center;
  width: 100%;
}
  h1 {
    background: -webkit-linear-gradient(#8aa7ec, #c777b9, #52cffe);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; 
display: flex; 
justify-content: center;
font-size: 80px;
padding: 10px 0px;
}

/*Friend*/
body {
    font-size: 15px;
    line-height: 1.6em;
    text-align: center;
  }
  
  /* 
   * Position both images in same place
  */
  .hover-switch {
      position:relative;
      width: 500px;
      height: 500px;
  }
  .hover-switch img {
      position:absolute;
      top: 0;
      left: 0;
      width:100%;
      height:100%;
  }
  /* 
   * Show the last image by default
  */
  .hover-switch img:last-of-type {
    opacity 1;
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
  }
  /* 
   * Hide the last image on hover
  */
  .hover-switch:hover img:last-of-type {
    opacity:0;
  }

/*Buttons*/
button {
  color: #8aa7ec;
  font-weight:bolder;
  border: 2px solid #c777b9;
  border-radius: 0px;
  padding: 10px 36px;
  margin: 20px 10px;
  display: wrap;
  justify-content: space-between;
  text-align: center;
  font-family: 'Fuzzy Bubbles', cursive;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #c777b9;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.loadPokemon:hover {
  box-shadow: inset 0 100px 0 0 #c777b9;
}

.newPokemon:hover {
  box-shadow: inset 400px 0 0 0 #c777b9;
}

.morePokemon:hover {
  box-shadow: inset 0 0 0 50px #c777b9;
}



  figcaption {
text-align: center;
text-transform: capitalize;
font-size: 130%;
line-height: 3em;
  } 

  label.textContents {
text-align: center;
  }

.scene {
  width: 200px;
  height: 260px;
  margin: .5em;
  perspective: 600px;
}

.card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
  }


figure img {
    width: 200px;
  }

  /*Contact*/
#contact {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right bottom, #845EC2, #D65DB1, #FF6F91, #FF9671, #FFC75F, #F9F871);
    font-size: 2rem;
}
  
#contact h2, h4, h5 {
    padding-bottom: 2rem;
    color: #f0f0f0;
    font-family: 'Fuzzy Bubbles', cursive;
    text-shadow: 4px 4px 4px #c777b9;
}

#contact div {
display: flex;
justify-content: center;
color: #f0f0f0;
text-shadow: 4px 4px 4px#c777b9;
}

#contact div a {
padding: 2rem;
color: #f0f0f0;
text-shadow: 4px 4px 4px #c777b9;
transition: transform 0.3s linear;
}

#contact div a:hover {
    transform: translateY(8px);

}

 * {cursor: url(https://cur.cursors-4u.net/games/gam-13/gam1282.cur), auto !important;} 