* {
	margin: 0;
	box-sizing: border-box;
}

header, footer {
    font-family: 'Rock Salt', cursive;
    font-size: xx-large;
    text-align: center;
}

.mainContainer {
	display: flex;
}

#navbar {   
    width: 100%;
    background-image: linear-gradient(to right bottom, #4d032d, #640252, #47035c);
    }
    
    .nav-list {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin-right: 1rem;
    font-family: 'Rock Salt', cursive;
    font-weight: bold;
    }
    
    
    .nav-list a {
        display: block;
        color: #f0f0f0;
        text-shadow: 4px 4px 4px pink;
        padding: 1.5rem;
        font-size: xx-large;
    }
    
    .nav-list a:hover {
        background-color:#F2B6CC;
    }
    

section {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
    color: #f0f0f0;
}

section#title div h1 {
    color: #f0f0f0;
}

.box {
	background-color: pink;
	font-size: xx-large;
	text-align: center;
}

.shipName {
    font-size: x-large;
    color: pink;
}

#contact {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right bottom, #4d032d, #640252, #47035c);
    font-size: 2rem;
}

#contact p {
	padding-bottom: 2rem;
    color: #f0f0f0;
    font-family: 'Rock Salt', cursive;
    text-shadow: 4px 4px 4px #c777b9;
	font-size: 0.7em;
}

#contact h1, h2, h4, h5 {
    padding-bottom: 2rem;
    color: #f0f0f0;
    font-family: 'Rock Salt', cursive;
    text-shadow: 4px 4px 4px #c777b9;
}

#contact div {
display: flex;
justify-content: center;
color: #f0f0f0;
text-shadow: 4px 4px 4px #c777b9;
}

#contact div a {
padding: 2rem;
color: #f0f0f0;
text-shadow: 4px 4px 4px #c777b9;
transition: transform 0.3s linear;
}

#contact div a:hover {
    transform: translateY(8px);
}

a {
	font-size: x-large;
	color: rgb(194, 142, 151);

}

a li {
    color: #f0f0f0;

}

li:hover {
	background-color: pink;
}
/* Start of cursor, obtained from https://www.cursors-4u.com */ 
* {cursor: url(https://cur.cursors-4u.net/others/oth-1/oth28.cur), auto !important;} 
/* End of cursor */