* {
    margin: 0;
    box-shadow: 0 0 5px #03e9f4;
    
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    flex-direction: row;
}

/*Buttons start*/


button {
    font-size: 20px;
    background-color: #050801;
    color: #03e9f4;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 0;
    margin: 20px 5px 50px 5px;
    border:none;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden
    transition: .5s;
    letter-spacing: 3px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

button:hover {
    background-color: #03e9f4;
    color: white;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
}

button:nth-child(1)
{
    filter: hue-rotate(290deg);
}
button:nth-child(3)
{
    filter: hue-rotate(110deg);
}
button:nth-child(4)
{
    filter: hue-rotate(170deg);
}
/*Buttons end*/

main {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}

figure {
    margin: 8px;
}

figure img {
    width: 200px;
}

figcaption {
    background-color: rgb(85, 83, 85);
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border-radius: 3px;
    text-align: center;
    text-shadow: 4px 4px 4px pink;
}

/* Start of cursor, obtained from https://www.cursors-4u.com */ 
* {cursor: url(https://cur.cursors-4u.net/others/oth-1/oth28.cur), auto !important;} 
/* End of cursor */