* {
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: cadetblue;
    padding: 2em 0;
}

button {
    font-size: x-large;
    background-color: cyan;
    border-radius: 10px;
}

button:hover {
    background-color: darkmagenta;
}

main {
    display: flex;
    flex-wrap: wrap;
}

figure {
    margin: 8px;
}

figure img {
    width: 200px;
}