* {
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Merienda', cursive;
    font-weight: 700;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    color: rgb(1, 1, 92);
}

h2 {
    margin: 1em;
    font-family: 'Merienda', cursive;
}
.senators {
    display: flex;
    flex-wrap: wrap;
}

.weaselList {
    margin: 1em;
    font-family: 'Merienda', cursive;
}

.seniority {
    font-family: 'Merienda', cursive;
    font-weight: 700;
    color: rgb(117, 4, 4);
}

body:before{
    content:'';
    height:100%;
    display:inline-block;
    vertical-align:middle;
  }
  #filterbutton{
      text-align:center;
  }

  button{
    display: wrap;
    justify-content: space-between;
    text-align: center;
    background:#000;
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    margin:2%;
    font-family: 'Merienda', cursive;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  button:hover{
    background:#fff;
    color:#000;
  }
  button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #000;
    transition:400ms ease all;
  }
  button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
  }

figure {
    width: 160px;
    display: flex;
    flex-direction: column;
    margin: 1em;
    color: white;
    background: linear-gradient(-90deg, rgb(5, 1, 78) 29%, rgba(168, 10, 21, 0.974) 100%, rgba(0,212,255,1) 100%);
    padding: 3px;
}

figure img:hover {
    box-shadow: 0px 0px 25px rgba(7, 7, 7, 0.8);
}

figcaption {
    text-align: center;
    font-family: 'Merienda', cursive;
   font-size: small;
   font-weight: 700;
}

/* Small screens */
@media only screen and (max-width: 800px) {
    nav ul {
        font-family: 'Merienda', cursive;
        color: white;
        margin: 0;
        padding: 0 2vw;
        list-style-type: none;
    }
    
    nav a {
        display: block;
        padding: .8rem;
        font-weight: 700;
        font-family: 'Merienda', cursive;
        color: white;
        text-decoration: none;
        text-align: center;
        border-bottom: solid 1px rgb(233, 230, 230);
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 29%, rgba(121,9,16,0.9738270308123249) 100%, rgba(0,212,255,1) 100%);
    }

    nav .active a {
        background-image: linear-gradient(to bottom, #790202, #d35252);
        color: white;
    }
    } 
    /*end of the media query*/
    
    /* BIG screens*/
    @media only screen and (min-width: 801px) {
        #navbar {
            display: flex;
            justify-content: center;
            width: 100%;
            font-family: 'Merienda', cursive;
            font-weight: 700;
            background: #7F030B;
            background: -webkit-linear-gradient(left, #7F030B, #0C1C46);
            background: -moz-linear-gradient(left, #7F030B, #0C1C46);
            background: linear-gradient(to right, #7F030B, #0C1C46);
        }
        
        nav ul {
            list-style-type: none;
            padding: 0 2vw;
            margin: 0;
            display: flex;
            
        }
        
        nav a {
        font-size: 1.1rem;
        text-decoration: none;
        color: #ffffff;
        display: block;
        padding: 0.83rem 2rem ;
        }
        
        nav li.active a {
            background-color: rgb(29, 29, 65);
        }
        
        nav a:hover {
            background-color: rgb(29, 29, 65);
        }
    } 

    /*Footer*/
    #contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
      }
      
      #contact div#project, #contact div#touch {
        padding-bottom: 2rem;
        color: #f0f0f0;
        font-family: 'Montserrat', sans-serif;
        text-shadow: 4px 4px 4px rgb(158, 2, 2);
        font-weight: bolder;
      }
      
      #contact div#profiles {
      display: flex;
      justify-content: center;
      color: #f0f0f0;
      text-shadow: 4px 4px 4px rgb(158, 2, 2);
      padding-bottom: 2em;
      }
      
      #contact div#profiles a {
      text-decoration: none;    
      padding: 2rem;
      color: #f0f0f0;
      text-shadow: 4px 4px 4px rgb(158, 2, 2);
      transition: transform 0.3s linear;
      }
      
      #contact div#profiles a:hover {
        transform: translateY(8px);
      
      }
      
      footer {
        display: block;
        background: #7F030B;
            background: -webkit-linear-gradient(left, #7F030B, #0C1C46);
            background: -moz-linear-gradient(left, #7F030B, #0C1C46);
            background: linear-gradient(to right, #7F030B, #0C1C46);
         text-align: center;
         padding: 2rem;
         padding-top: 5rem;
         font-size: x-large;
         color: #f0f0f0;
         text-shadow: 4px 4px 4px rgb(158, 2, 2);
         font-family: 'Montserrat', sans-serif;
      }
/*Cursor*/
* {cursor: url(https://cur.cursors-4u.net/people/peo-3/peo223.cur), auto !important;} 